<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Base</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="'Your rate is: ' +${rate} + ' ₹, number of lane is: '+ ${lanecount} + ' and toll start time is: '+ ${tollstart} "></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
</body>
</html>